<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>질병 및 재난 알리미</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='static/assets/favicon.ico') }}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />

    </head>
    <body>
        <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            <div class="border-end bg-white" id="sidebar-wrapper">
                <div class="sidebar-heading border-bottom bg-light">Start Bootstrap</div>
                <div class="list-group list-group-flush">
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">국내</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">해외</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">커뮤니티</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">재난 속에서 살아남기</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">나라면 어떻게?</a>
                </div>
            </div>
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <!-- Top navigation-->
                <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <div class="container-fluid">
                        <button class="btn btn-primary" id="sidebarToggle">Toggle Menu</button>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                                <li class="nav-item active"><a class="nav-link" href="#!">Home</a></li>
                                <li class="nav-item"><a class="nav-link" href="#!">Link</a></li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="#!">Action</a>
                                        <a class="dropdown-item" href="#!">Another action</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#!">Something else here</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <!-- Page content-->
                <div class="container-fluid">
                    <h1 class="mt-4">국내 정보</h1>
                    <br>
                    <p>연합뉴스속보</p>
                    <div id="newsArea"></div>
                    <button id="newsButton">불러오기</button>
                    <hr>
                    <p>네이버뉴스 속보 검색결과</p>
                    <div id="newsnaverArea"></div>
                    <button id="newsnaverButton">불러오기</button>
                    <hr>
                    <p>api 재난문자</p>
                    <div id="apimsgArea"></div>
                    <button id="apimsgButton">업데이트</button>
                    <hr>
                    <p>api 재난문자 db 업데이트</p>
                    <div id="apimsgArea_db"></div>
                    <button id="apimsgButton_db">업데이트</button>
                    <hr>
                    <table>
                        <tr>
                            <th>time</th>
                            <th>location</th>
                            <th>msg</th>
                        </tr>
                        {% for row in data %}
                        <tr>
                            <td>{{ row[0] }}</td>
                            <td>{{ row[1] }}</td>
                            <td>{{ row[2] }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    <br><br><br>
                    <form method="POST" action="/home">
                        <input type="text" name="name" placeholder="이름"><br>
                        <textarea name="comment" placeholder="댓글"></textarea><br>
                        <input type="submit" value="등록">
                    </form>
                    <br>
                    <h2>이전 댓글</h2>
                    <ul>
                        {% for comment in comments %}
                        <li>{{ comment[1] }}: {{ comment[2] }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

        <script src="{{ url_for('static', filename='js/button_update.js') }}"></script>
    </body>
</html>