<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Button Example</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#updateButton').on('click', function() {
                $.ajax({
                    url: '/update_safekorea',
                    type: 'POST',
                    dataType: 'json',
                    success: function(data) {
                        $('#contentArea').text(data.content);
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            });
            $('#newsButton').on('click', function() {
                $.ajax({
                    url: '/update_news',
                    type: 'POST',
                    dataType: 'json',
                    success: function(data) {
                        $('#newsArea').text(data.content);
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            });
            $('#apimsgButton').on('click', function() {
                $.ajax({
                    url: '/api_disaster_update',
                    type: 'POST',
                    dataType: 'json',
                    success: function(data) {
                        $('#apimsgArea').text(JSON.stringify(data));
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            });
        });
        
    </script>
</head>
<body>
    <div id="contentArea">안전청 웹 크롤링(celenium)</div>
    <button id="updateButton">업데이트</button>

    <div id="newsArea">연합뉴스속보 업데이트</div>
    <button id="newsButton">업데이트</button>

    <div id="apimsgArea">api 재난문자</div>
    <button id="apimsgButton">업데이트</button>
</body>
</html>
